# sudo apt-get install python3-venv
# python3 -m venv venv

# pip install -r requirements-dev.txt --find-links python_pip_package_links/package_links.html

# install the current package in editable mode
# pip install -e . --find-links python_pip_package_links/package_links.html

# to store git credentials:
# git config credential.helper store
#  then do a git command, enter credentials, and they should be saved after that

pre-commit==2.2.0 # run 'pre-commit install' initially to install the git hooks
pytest==5.3.1
pytest-cov==2.8.1
pytest-randomly==3.1.0
sphinx==2.2.1
pylint==2.5.0
pytest-pylint==0.14.1

pytest-mock==1.11.1
pytest-timeout==1.3.4
freezegun==0.3.14



